# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage
/test-results/
/playwright-report/

# Next.js
/.next/
/out/
/dist/

# Production
/build

# Misc
.DS_Store
*.tsbuildinfo
next-env.d.ts

# Debug
npm-debug.log*

# Local env files
.env*.local

# IDE
.vscode/
.idea/