@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.App {
    font-family: 'Titillium Web';
    margin-top: 100px;
    text-align: center;
}

.Forms {
    font-family: 'Titillium Web';
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.Peoples {
    max-width: 180px;
    line-height: 1.4em;
    margin: 0 auto;
}

.PaymentChain {
}

.personInput {
    float: right;
    width: 100px;
    height: 0.9em;
}

p {
    margin: 0px;
}

.personNum {
    line-height: 0.5em;
    margin: 10px;
}
