.App {
    margin-top: 100px;
    text-align: center;
}

.Forms {
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.Peoples {
    max-width: 250px;
    line-height: 1.8em;
    margin: 0 auto;
}

.PaymentChain {
    margin-bottom: 130px;
}